POSTMAN_API_KEY=TU_POSTMAN_API_KEY

OLLAMA_BASE_URL=http://localhost:11434/v1
OLLAMA_MODEL=qwen2.5-coder:7b

PLAYWRIGHT_API_BASE_URL=http://localhost:8080

TEST_USER_EMAIL=usuario_de_prueba@umss.edu.bo
TEST_USER_PASSWORD=TU_PASSWORD